.importBox {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    padding:60px 20%;
}

.boxCanvas {
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
    min-width: 300px;
    min-height: 300px;

}
.boxControl{
    padding: 20% 0;
    text-align: center;
}

.boxFile{
    font-size: 30px;
}


.braControl{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
}
.braControl>button{
    width: 50px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}