.box-frame {
    display: flex;
    flex-flow: wrap;
    max-height: 500px;
    overflow-y: auto;
    color: #000000;

}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.folder {
    border-radius: 5px;
    width: 90px;
    height: 70px;
    margin: 15px;

}
.f-box-select-style {
    border-radius: 5px;
    margin: 15px;
}

.f-icon-emelent {
    
    font-size: 45px;
    line-height: 60px;
}
.f-icon-emelent:hover{
    font-size: 50px;
    line-height: 50px;
    transition: all 0.3s;
}
.f-label-block {
    display: inline-block;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    width: 75px;
    margin-top: 5px;
    font-size: 12px;
}
.f-label-block:hover{
    color: #00a0e9;
    /* 放大 */
    font-size: 16px;
    transition: all 0.3s;
    

}
.cke{
    display: none;
}